/*Styling Progress Bars*/
#progress-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.progress-bar {
    background-color: white;
    border: 5px outset white; /*changed size and style */
    border-radius: 20px;    
    text-align: center;
  }
.progress-bar-active {
    padding-top: 2px;
    border: 2px solid black; /*changed color */
    border-radius: 20px;
}
.bar-progress {
    color: white;
}
.red-progress {
    background-color: darkred;
}
.green-progress {
    background-color: green;
}
.blue-progress {
    background-color: darkblue;      
}