
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    -webkit-overflow-scrolling: touch;
    /* transition: 0.2s ease-in-out; */

}

body {
    /* margin-left: 4px; */
    /* font-size: 3vw; */
    /* font-size: 2vh; */
    font: -apple-system-body;
    /* font-family: "Avenir Next", "GillSans-Light", sans-serif; */
    font-family: "Montserrat";
    text-rendering: optimizeLegibility !important;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
    background-color: black;
}
#mainPage {
    padding: 3vw;
}

/* Styling welcome banner & Contact Links */
#header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://cdna.artstation.com/p/assets/images/images/021/720/920/original/pixel-jeff-mario.gif?1572709433) no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 0;
    /* border: solid; */
}
.welcome-message {
    background-color: rgb(255, 255, 255);
    border: 8px inset rgb(221, 0, 0);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 45%;
    /* height: 45vh; */
}
#firstP {
    color: black;
    font-size: 1.3rem;
}
#secondP {
    color: black;
    font-size: 1rem;
}

.welcome-message button {
    margin: 30px;
    padding: 2px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

#contact-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-around;
    /* align-items: center; */
    margin: 20px;
}

.contact-links a img{
    /* width: 34px; */
    width: 2rem;
}
.contact-links a img:hover{
    opacity: 80%;
}

/* Styling titles/bookmarks */
.chp {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(169, 0, 0);
    border: 5px outset;
}

/*Styling paragraphes */
b {
    color: rgb(226, 0, 0);
}

article {
    line-height: 1.5;
    text-align: justify;
}

/* Creating two unequal columns that floats next to each other */

/* Left column */
.leftcolumn {   
    float: left;
    width: 60%;
}
/* Right column */
.rightcolumn {
    float: right;
    width: 40%;
    padding-left: 20px;
    /* padding-right: 10px; */
}

/* Fake image Containers*/
.fakeimg {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 20px;
}
/* Styling main pictures */
.content-pics {
    /* border: solid; */
    display: flex;
    margin: 30px 0;
}
div.gallery img {
    width: 100%;
    height: auto;
    border: solid;
    border-radius: 20px;
}
.responsive {
    /* border: solid rebeccapurple; */
    float: left;
    justify-content: space-evenly;
    padding: 6px;
    margin-bottom: 6px;
    width: 24.99%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* Card effect for articles */
.card {
    border: solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.07);
}
#C1, #C2, #C3, #C4 {
    margin-bottom: 50px;
    padding: 80px 50px;
}
/* Animation */
#C2 b {
    animation: bookmarks 2s ease-in-out 0s infinite alternate both;
}
@keyframes bookmarks {
    from{color: rgb(169, 0, 0);}
    to{color: rgb(0, 110, 169);}
}
/* Clearing floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* My Works */
#worksContainer {
    margin: 30px 0px;
}
.work-img-container {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
#workImg {
    max-width: 100%;
    max-height: 300px;
    /* border: 10px inset ; */
    border-radius: 20px;
}
/* iframe {
    color: whitesmoke;
    border: 3px solid whitesmoke;
}
.link-btns button {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
    color: black;
    text-decoration: none;

}
 */
/* Follow Me */
#C4 h3 {
    color: rgb(221, 0, 0);
    margin-bottom: 20px;
}
#linksContainer {
    position: relative;
    /* display: inline-block; */
    left: 5%;
    width: 90%;
    /* border: solid; */
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 40px;
    margin: 20px 0px;
    padding: 3px;
    border: 4px outset rgb(160, 160, 160);
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}
.links.inst:hover {
    border: 4px inset rgb(221, 42, 123);
    transition: 0.3s ease-in-out;
}.links.disc:hover {
    border: 4px inset #7289DA;
    transition: 0.3s ease-in-out;
}.links.tweet:hover {
    border: 4px inset rgb(0, 110, 169);
    transition: 0.3s ease-in-out;
}

/* Footer */
.footer {
    padding-top: 40px;
    /* text-align: center; */
    border: solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.07);
    /* color: black; */
    /* height: min-content; */
}
.footer header {
    text-align: center;
}
.five{
    background-color:rgb(0, 110, 169);
}
.survey-form {
    /* text-align: center; */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(77, 77, 77); */
    /* border: solid; */
}
.survey-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border: solid red; */
}
label {
    color: whitesmoke;
    font-family: 'Mulish';
    font-size: 16px;
}
input, textarea {
    color: black;
    /* border: 5px ridge rgb(0, 110, 169); */
    border-radius: 8px;
    width: 100%;
    margin: 5px 0px;
    padding: 8px;
}
#subBtn{
    color: whitesmoke;
    border: 3px ridge rgb(255, 255, 255);
    background-color: rgb(0, 110, 169);
    font-family: 'Mulish';
    font-size: 12px;
}
#subBtn:hover {
    background-color: rgb(158, 213, 246);
    color: black;
    font-weight: bold;
}
/* Copyright */
.copyright {
    text-align: center;
    border-top: 1px solid whitesmoke;
    padding: 5px;
    margin-top: 80px;
    background-color: rgb(77, 77, 77);
    color: white;
    font-family: 'Mulish';
    font-size: 14px;    
    /* font-weight: bold; */
}
