/* Main nav styling */
#stickyNav {
    background-color: rgba(184, 0, 0);
    width: 100%;
    position: fixed;
    transition: 0.3s;
    z-index: 1;
}

/*Styling home section*/
#home {
    float: left;
    top: 0;
    padding-top: 5px;
    margin-left: 70px;
} 
#home a {
    text-decoration: none;
}
#home h1:hover{
    color: black
}

/* Styling the top navigation bar */
.topnav {
    /* margin-right: 15px; */
    float: right;
    overflow: hidden;
}
/* Styling the topnav links */
.topnav a {    
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: rgb(242, 242, 242);
}
/* Change topnav links color on hover */
.topnav a:hover{
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
}