
/* Responsive layout - when the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other &
make the navigation links into a menu button */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}


