
/* Responsive layout - when the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other &
make the navigation links into a menu button */
@media screen and (max-width: 920px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
  }
  #header {
      background: url(https://images.hdqwalls.com/download/mario-chilling-mp-2160x3840.jpg) no-repeat;
      background-size: cover;
      max-width: 100%;
      max-height: 100vh;
      background-attachment: fixed;
  }
  #home {
      display: none !important;
  }
  .welcome-message {
    width: 65%;
  }
}

/*Top nav Responsive Styles*/

/* 480x??? */
@media screen and (max-width: 480px) {
  .topnav {
    font-size: 17px !important;
  }
  .topnav a {
    padding: 14px 13.5px !important;
  }
}

/* 13 Pro Max */
@media screen and (max-width: 428px) {
  .topnav {
    font-size: 14.5px !important;
    /* width: 100vw; */
  }
  .topnav a {
    padding: 13.2px !important;
  }
}

/* XR */
@media screen and (max-width: 414.999px) {
  .topnav {
    font-size: 14px !important;
    width: 100vw;
  }
  .topnav a {
    padding: 14px 12.8px !important;
  } 
}

/* S9+ | S20 Ultra */
@media screen and (max-width: 412px) {
  .topnav {
    font-size: 14px !important;
    /* width: 100vw; */
  }
  .topnav a {
    padding: 14px 12.8px !important;
  }
}

/* Pixel 4 | 5 */
@media screen and (max-width: 393.999px) {
  .topnav {
    font-size: 13px !important;
  }
  .topnav a {
    padding: 13px 12.5px !important;
  }
}

/* 12 | 13 Pro */
@media screen and (max-width:390.999px) {
  .topnav {
    font-size: 13px!important;
  }
  .topnav a {
    padding: 14px 12.5px !important;
  }
}

/* 375x??? */
@media screen and (max-width: 375.999px) {
  .topnav {
    font-size: 13px !important;
  }
  .topnav a {
    padding: 13px 11px !important;
  }
  .t {
    font-size: 9.5px !important;
  }
}

/* S8 */
@media screen and (max-width: 360px) {
  .topnav {
    font-size: 12px !important;
  }
  .topnav a {
    padding: 12px 11.5px !important;
  }
}

/* SE 320x568 */
@media screen and (max-width: 320px) {
  .topnav {
    font-size: 11px !important;
  }
  .topnav a {
    padding: 11.5px 9.5px !important;
  }
  .t {
    font-size: 7.5px !important;

    font-weight: bold;
  }
}

/* Galaxy fold+ */
/* @media screen and (max-width: 280px) {
  .topnav {
    font-size: 10px;
  }
  .topnav a {
    padding: 12px 7.7px;
  }
} */

/* pictures */
@media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  


