
/* Responsive layout - when the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other &
make the navigation links into a menu button */
@media screen and (max-width: 920px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
  }
  #header {
      background: url(https://images.hdqwalls.com/download/mario-chilling-mp-2160x3840.jpg) no-repeat;
      background-size: cover;
      max-width: 100%;
      max-height: 100vh;
      background-attachment:fixed;
  }
  #home {
      display: none !important;
  }
}

/*Top nav Responsive Styles*/

/* 13 Pro Max */
@media screen and (max-width:428px) {
  .topnav {
    font-size: 16px;
    width: 100vw;
  }
  .topnav a {
    padding: 14px 10px !important;
  }
}

/* XR */
@media screen and (max-width:414.5px) {
  .topnav {
    font-size: 14px;
    width: 100vw;
  }
  .topnav a {
    padding: 14px 12.5px !important;
  } 
}

/* S9+ | S20 Ultra */
@media screen and (max-width: 412px) {
  .topnav {
    font-size: 14px;
    width: 100vw;
  }
  .topnav a {
    padding: 14px 12.5px !important;
  }
}

/* Pixel 4 | Pixel 5 */
@media screen and (max-width:393.8px) {
  .topnav {
    font-size: 13px;
  }
  .topnav a {
    padding: 13px 13px !important;
  }
}

/* 12 Pro */
@media screen and (max-width:390.5px) {
  .topnav {
    font-size: 14px;
  }
  .topnav a {
    padding: 14px 10.5px !important;
  }
}

/* SE */
/* @media screen and (max-width:376px) {
  .topnav {
    font-size: 13px;
  }
  .topnav a {
    padding: 10px 11px;
  }
  #home {
    display: none;
  }
} */

/* S8 */
@media screen and (max-width:360px) {
  .topnav {
    font-size: 12px;
  }
  .topnav a {
    padding: 12px 11.5px !important;
  }
}

/* SE 320x568 */
@media screen and (max-width:320px) {
  .topnav {
    font-size: 10px;
  }
  .topnav a {
    padding: 12px 11.5px !important;
  }
}

/* Galaxy fold+ */
/* @media screen and (max-width: 280px) {
  .topnav {
    font-size: 10px;
  }
  .topnav a {
    padding: 12px 7.7px;
  }
} */

/* pictures */
@media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  


