
/* Responsive layout - when the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other &
make the navigation links into a menu button */
@media screen and (max-width: 920px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
  }
  #header {
      background: url(https://images.hdqwalls.com/download/mario-chilling-mp-2160x3840.jpg) no-repeat;
      background-size: cover;
      max-width: 100%;
      max-height: 100vh;
      background-attachment:fixed;
  }
  #home {
      display: none;
  }
}

/*Top nav Responsive Styles*/

/* XR */
@media screen and (max-width:415px) and (max-height: 896px) {
  .topnav {
    font-size: 15.1px !important;
    width: 100vw !important;
  }
  .topnav a {
    padding: 14px 11px !important;
  }
  #home {
    display: none !important;
  }
  .t {
    font-size: 1.2vh !important;
  }  
}

/* S20 Ultra */
@media screen and (max-width: 412px) and (max-height: 916px) {
  .topnav {
    font-size: 15px !important;
    width: 100vw !important;
  }
  .topnav a {
    padding: 14px 10.9px !important;
  }  
  #home {
    display: none !important;
  }   
}

/* Pixel 5 */
@media screen and (max-width:394px) and (max-height: 852px) {
  .topnav {
    font-size: 14px !important;
  }
  .topnav a {
    padding: 13px 11px !important;
  }
}

/* 12 Pro */
@media screen and (max-width:391px) and (max-height: 844px) {
  .topnav {
    font-size: 14px !important;
  }
  .topnav a {
    padding: 14px 10.7px !important;
  }
}

/* SE */
@media screen and (max-width:376px) and (max-height: 668px) {
  .topnav {
    font-size: 13px !important;
  }
  .topnav a {
    padding: 10px 10px !important;
  }
  #home {
    display: none !important;
  }
}

/* S8+ */
@media screen and (max-width:360px) and (max-height: 740px) {
  .topnav {
    font-size: 14px !important;
  }
  .topnav a {
    padding: 12px 7.6px !important;
  }
}

/* Galaxy fold+ */
@media screen and (max-width: 280px) and (max-height: 654px) {
  .topnav {
    font-size: 10px !important;
  }
  .topnav a {
    padding: 12px 7.7px !important;
  }
}

/* pictures */
@media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  


