/* Right column */
.rightcolumn {
    float: right;
    width: 40%;
    padding-left: 20px;
    /* padding-right: 10px; */
}

/* My Works */
#worksContainer {
    margin: 30px 0px;
}
.work-img-container {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
#workImg {
    max-width: 100%;
    max-height: 300px;
    /* border: 10px inset ; */
    border-radius: 20px;
}

/* Follow Me */
#C4 h3 {
    color: rgb(221, 0, 0);
    margin-bottom: 20px;
}
#linksContainer {
    position: relative;
    /* display: inline-block; */
    left: 5%;
    width: 90%;
    /* border: solid; */
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 40px;
    margin: 20px 0px;
    padding: 3px;
    border: 4px outset rgb(160, 160, 160);
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}
.links.inst:hover {
    border: 4px inset rgb(221, 42, 123);
    transition: 0.3s ease-in-out;
}.links.disc:hover {
    border: 4px inset #7289DA;
    transition: 0.3s ease-in-out;
}.links.tweet:hover {
    border: 4px inset rgb(0, 110, 169);
    transition: 0.3s ease-in-out;
}
